<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>board</title>
</head>
<body>
    <p th:text="|title : ${item.title}|">title : </p>
    <p th:text="|description : ${item.description}|">description : </p>
    <p th:text="|author : ${item.author}|">author : </p>
    <p th:text="|date : ${#temporals.format(item.createdDate, 'yyyy-MM-dd')}|">date : </p>
    <a href="modify.html" th:href="@{{itemNum}/edit(itemNum=${item.num})}" target="_self">수정</a>
</body>
</html>